version: '3.8'
services:
  mongo:
    image: mongo:6.0
    restart: always
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"

  server:
    build: ./server
    restart: on-failure
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  client:
    build: ./client
    restart: on-failure
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env
    depends_on:
      - server

volumes:
  mongodata:
